@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Fira+Mono');

@media only screen and (min-width: 900px) {
    html::-webkit-scrollbar {
        background-color: #ffffff;
        width: 7px;
    }

    html.dark::-webkit-scrollbar {
        background-color: #252525;
    }

    html::-webkit-scrollbar-button {
        height: 0;
    }
    
    html::-webkit-scrollbar-thumb {
        background-color: #626262;
        border-radius: 100px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

pre,
code {
    font-family: 'Fira Mono', monospace;
    color: #ffffff !important;
}

pre.prettyprint {
    width: calc(100% - 2 * (1em)) !important;
    margin: .5em auto !important;
    padding: .25em .75em !important;
}

pre.prettyprint ol {
    display: block;
    list-style-type: decimal;
    margin-left: 0;
    margin-right: -15px;
    padding-left: 40px;
}

pre.prettyprint li.L0, pre.prettyprint li.L1, pre.prettyprint li.L2, pre.prettyprint li.L3,
pre.prettyprint li.L5, pre.prettyprint li.L6, pre.prettyprint li.L7, pre.prettyprint li.L8 {
    list-style-type: decimal !important;
}

code {
    padding: 2px 5px;
}

h1, h2,
h3, h4,
h5, h6 {
    line-height: 100%;
}

main *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    line-height: 25px;
    font-size: 17px;
}

html,
body {
    overflow-x: hidden !important;
}

body.dark {
    background-color: #252525;
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
}

header {
    width: 100vw;
    height: 80px;
    font-size: 125%;
    background-color: #252525;
    z-index: 100;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

body.dark header {
    background-color: #5083e8;
}

body.dark header {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

header nav#small {
    color: #ffffff;
    height: 80px;
}

header div.info {
    float: left;
    width: calc(100% - 80px - 2 * (20px));
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    font-size: 110%;
}

header div.info a {
    color: #ffffff;
    text-decoration-color: #5083e8;
}

body.dark header div.info a {
    text-decoration-color: #252525;
}

header nav#small div#open {
    float: right;
    height: 100%;
    width: 80px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

header nav#small div#open svg {
    width: 60px;
    height: 60px;
}

menu {
    position: fixed;
    top: 0;
    right: -90%;
    width: 90%;
    height: 100%;
    background-color: #252525ea;
    color: #ffffff;
    font-size: 110%;
    transition: right .3s ease;
    z-index: 101;
}

menu.show {
    right: 0;
    transition: right .3s ease;
}

menu div {
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

menu div::after {
    content: '';
    background-color: #d82927;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: -12.5px;
    top: 50%;
    left: 50%;
}

menu div svg {
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 1;
}

menu a {
    display: block;
    color: #ffffff !important;
    text-decoration: none;
    width: calc(100% - 2 * (16px));
    padding: 7.5px 16px;
}

menu a.selected {
    text-decoration: underline #5083e8;
}

menu a:first-of-type {
    margin-top: 25px;
}

menu a:not(:first-of-type) {
    border-top: 1px solid #9e9e9e;
}

header nav#big {
    display: none;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav#big ul {
    width: 1000px;
    height: 100%;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    list-style-type: none;
}

header nav#big li {
    list-style-type: none;
    position: relative;
}

header nav#big li a::after {
    content: '';
    width: 0px;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: #5083e8;
    transition: width .4s ease;
}

body.dark header nav#big li a::after {
    background-color: #134cbe;
}

header nav#big li a.selected::after,
header nav#big li a:hover::after {
    width: 100%;
    transition: width .4s ease;
}

header nav#big a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    header nav#small {
        display: none;
    }

    header nav#big {
        display: flex;
        display: -webkit-flex;
    }
}

div#scrolltop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(0px);
    transition:
        transform .3s ease,
        box-shadow .3s ease;
    z-index: 1000;
}

@media only screen and (min-width: 900px) {
    div#scrolltop:hover {
        transform: translateY(-5px);
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        transition:
            transform .3s ease,
            box-shadow .3s ease;
    }
}

div#scrolltop::after {
    content: '';
    background-color: #ffffff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17.5px;
    z-index: -1;
}

div#scrolltop svg {
    width: 100%;
    height: 100%;
    color: #5083e8;
}

div.landing-page {
    height: calc(100vh - 80.5px);
    background: rgba(80,131,232,1);
    background: -moz-linear-gradient(top, rgba(80,131,232,1) 0%, rgba(37,37,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,131,232,1)), color-stop(100%, rgba(37,37,37,1)));
    background: -webkit-linear-gradient(top, rgba(80,131,232,1) 0%, rgba(37,37,37,1) 100%);
    background: -o-linear-gradient(top, rgba(80,131,232,1) 0%, rgba(37,37,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(80,131,232,1) 0%, rgba(37,37,37,1) 100%);
    background: linear-gradient(to bottom, rgba(80,131,232,1) 0%, rgba(37,37,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5083e8', endColorstr='#252525', GradientType=0 );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

div.landing-page section {
    text-align: center;
    color: #ffffff;
}

div.landing-page section h1 {
    margin-bottom: 10px;
    font-size: 300%;
}

div.landing-page section p {
    font-size: 150%;
}

div#add-discord {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 125%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

div#add-discord span {
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 100%;
    z-index: 10;
}

div#add-discord span::after {
    content: '';
    background-color: #d82927;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12.5px;
    z-index: -1;
}

div#add-discord span svg {
    color: #ffffff;
    transition: color .3s ease;
}

div#add-discord span svg:hover {
    color: #cfcfcf;
    transition: color .3s ease;
}

div#add-discord div {
    position: relative;
    top: 50%;
    left: 50%;
    margin: -50px -150px;
    width: 300px;
    height: 100px;
    background-color: #5083e8;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
}

div#add-discord div p {
    text-align: center;
}

div#viewImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
    display: grid;
    grid-template:
        'img' auto
        'desc' 100px
        / 100%;
}

@media only screen and (min-width: 900px) {
    div#viewImage {
    grid-template:
        'img' auto
        'desc' 65px
        / 100%;
    }
}

div#viewImage span#c {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
}

div#viewImage span#c::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #d82927;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    margin: -15px;
    z-index: -1;
    transform: translateY(0px);
    transition: transform .3s ease;
}

div#viewImage span#c:hover::after {
    transform: translateY(-3px);
    transition: transform .3s ease;
}

div#viewImage span#i {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div#viewImage span#i img {
    max-width: 95%;
    max-height: 95%;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

div#viewImage span#d {
    background-color: #252525;
    color: #ffffff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-size: 110%;
}

body.dark div#viewImage span#d {
    background-color: #5083e8;
}

main {
    min-height: 100vh;
}

div.container {
    width: calc(100% - 2 * (7.5px));
    margin: 0 auto;
    padding: 15px 7.5px;
}

@media only screen and (min-width: 600px) {
    div.container {
        width: 500px;
    }
}

@media only screen and (min-width: 900px) {
    div.container {
        width: 800px;
    }
}

@media only screen and (min-width: 1200px) {
    div.container {
        width: 900px;
    }
}

div.title {
    width: 97%;
    margin: .5em auto;
    border-bottom: 4px solid #5083e8;
}

div.title h1 {
    margin: 0 25px;
}

div.text:not(:last-of-type) {
    margin-bottom: 25px;
}

div.text ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

div.text li {
    display: list-item;
}

a,
a:visited {
    color: #5083e8;
    transition: color .3s ease;
}

@media only screen and (min-width: 900px) {
    a:hover {
        color: #134cbe;
        transition: color .3s ease;
    }
}

div.image {
    position: relative;
    max-width: 100%;
    max-height: 750px;
}

div.image,
div.image.left {
    float: left;
    margin: 0 10px 0 0;
}

div.image.right {
    float: right;
    margin: 0 0 0 10px;
}

div.image > span {
    position: absolute;
    background-color: #252525;
    color: #ffffff;
    padding: 6px 12px;
    width: calc(100% - 2 * (12px));
}

body.dark div.image > span {
    background-color: #5083e8;
}

div.image > span,
div.image > span.bottom {
    bottom: 0;
    top: auto;
    border-radius: 0 0 5px 5px;
}

div.image > span.top {
    bottom: auto;
    top: 0;
    border-radius: 5px 5px 0 0;
}

div.image img {
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}

main.adjust {
    padding-top: 80px;
}

@media only screen and (min-width: 900px) {
    div.image {
        max-width: 65%;
        max-height: 500px;
    }

    div.image > span {
        width: auto;
    }

    div.image > span,
    div.image > span.bottom {
        bottom: 5%;
        top: auto;
    }

    div.image > span.top {
        bottom: auto;
        top: 5%;
    }

    div.image > span,
    div.image > span.left {
        left: 0;
        right: auto;
        border-radius: 0 5px 5px 0 !important;
    }

    div.image > span.right {
        left: auto;
        right: 0;
        border-radius: 5px 0 0 5px !important;
    }
}

footer {
    width: 100%;
    background-color: #5083e8;
    font-size: 110%;
    color: #ffffff;
}

footer div.top {
    padding: 5px 0;
}

footer div.top ul {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

footer div.top li {
    display: list-item;
    padding-left: 1.3em;
}

footer div.top li::before {
    content: '>';
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    font-weight: bold;
}

footer div.top a,
footer div.top a:visited {
    color: #ffffff;
    transition: color .3s ease;
}

@media only screen and (min-width: 900px) {
    footer div.top a:hover {
        color: #b2c4e8;
        transition: color .3s ease;
    }
}

footer div.info {
    width: calc(100% - 2 * (10px));
    padding: 0 10px;
}

footer div.social {
    width: calc(100% - 2 * (10px));
    padding: 0 10px;
    text-align: center;
}

footer div.social div {
    width: 100%;
    padding: 15px 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

footer div.social div a {
    cursor: pointer;
}

footer div.social div a:not(:first-of-type) {
    margin-left: 20px;
}

footer div.social div a svg {
    height: 60px;
    color: #ffffff;
    transition: color .3s ease;
}

footer div.social div a svg:hover {
    color: #b2c4e8;
    transition: color .3s ease;
}

@media only screen and (min-width: 900px) {
    footer div.info {
        width: calc(50% - 2 * (10px));
        float: left;
    }

    footer div.social {
        width: calc(50% - 2 * (10px));
        float: right;
    }
}

footer div.bottom {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
